body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
form {
    margin-bottom: 20px;
}
form input, form textarea, form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}


